<h2>Ajouter une suggestion</h2>

<form [formGroup]="form" (ngSubmit)="submit()" class="form-card">

  <label>Titre :</label>
  <input type="text" formControlName="title" placeholder="Titre..." />
  <div class="error" *ngIf="title?.touched && title?.invalid">
    <small *ngIf="title?.errors?.['required']">Titre obligatoire.</small>
    <small *ngIf="title?.errors?.['minlength']">Min 5 caractères.</small>
    <small *ngIf="title?.errors?.['pattern']">Commence par majuscule + lettres seulement.</small>
  </div>

  <label>Description :</label>
  <textarea rows="4" formControlName="description" placeholder="Description..."></textarea>
  <div class="error" *ngIf="description?.touched && description?.invalid">
    <small *ngIf="description?.errors?.['required']">Description obligatoire.</small>
    <small *ngIf="description?.errors?.['minlength']">Min 30 caractères.</small>
  </div>

  <label>Catégorie :</label>
  <select formControlName="category">
    <option value="">-- Sélectionnez une catégorie --</option>
    <option *ngFor="let c of categories" [value]="c">{{ c }}</option>
  </select>
  <div class="error" *ngIf="category?.touched && category?.invalid">
    <small>Catégorie obligatoire.</small>
  </div>

  <label>Date :</label>
  <input type="text" formControlName="date" readonly />

  <label>Status :</label>
  <input type="text" formControlName="status" readonly />

  <button type="submit" [disabled]="form.invalid">Soumettre</button>
</form>