.top{
  display:flex;
  align-items:center;
  justify-content:space-between;
  margin-bottom:12px;
}

.add-btn{
  padding:10px 12px;
  border:none;
  border-radius:10px;
  background:#2ecc71;
  color:white;
  font-weight:800;
  cursor:pointer;
}

.details-btn{
  margin-left:10px;
  padding:6px 10px;
  border:none;
  border-radius:10px;
  background:#3498db;
  color:white;
  cursor:pointer;
}

ul{ padding-left: 18px; }
li{ margin-bottom: 10px; }
.title{ font-weight:700; }