.navbar {
  background-color: #2c3e50;
  padding: 15px 30px;
  color: white;
  display: flex;
  justify-content: space-between;
}

.navbar a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
  font-weight: bold;
}

.logo {
  font-size: 18px;
}
